<h2>Sign up</h2>
<div class="sign-up-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name, 'Prenom' %><br />
      <%= f.text_field :first_name%>
    </div>

    <div class="field">
      <%= f.label :last_name, 'Nom' %><br />
      <%= f.text_field :last_name%>
    </div>

    <div class="field">
      <%= f.label :location, 'Adresse' %><br />
      <%= f.text_field :location%>
    </div>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, 'Mot de passe' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Mot de passe' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.button "Sign up" , type: "submit"%>
    </div>
  <% end %>

</div>
