<%# http://127.0.0.1:3000/users/1/bookings %>

<main>

 <%# ---- DEBUT box profil ---- %>
  <div class="bookings-profile-container">
    <img src="<%= current_user.url %>" alt="user" class='img-profile-bookings'>
    <h3 class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <p><i class="fa-solid fa-envelope"></i> <%= current_user.email %></p>
    <p class="p-bottom"><i class="fa-solid fa-location-dot"></i> <%= current_user.location %></p>

      <p class="live-info"> <%= @bookings.count %> réservations </p>
      <p class="live-info"> <%= Duck.all.where(user_id: current_user.id).count %> canards </p>

    <%# <%= link_to '/users/edit' do %>
        <%# <div class="btn-user-profil"><p > Modifier mon profil </p></div> %>
    <%# <% end %>
    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn-logout btn-top'  %>
    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn-logout '  %>
  <%# ---- FIN box profil ---- %>
  </div>

  <%# ---- DEBUT booking-dynamic-content-container ---- %>
  <div class="booking-dynamic-content-container">

    <div class="booking-dynamic-content-nav-bar">
      <%= link_to 'Mes réservations', user_bookings_path(current_user), :class => 'booking-dynamic-content-button' %>
      <%= link_to 'Mes canards', myducks_ducks_path, :class => 'booking-dynamic-content-button' %>
      <%= link_to 'Mes favoris', user_favorites_path(current_user), :class => 'booking-dynamic-content-button btn-on' %>
    </div>

    <%# ---- DEBUT booking-dynamic-content-showbox ----  %>
    <div class="booking-dynamic-content-showbox">

      <%# ---- DEBUT CARD ---- %>

      <% if @favorites.count == 0 %>

         <h4>Vous n'avez aucun canard favori</h4>

      <% else %>

      <% @favorites.each do |booking| %>
        <div class="my-bookings-card">
          <%= image_tag booking.duck.url %>
          <div class="card-pic-name-date">
            <h4 class="card-pic-name">  <%= booking.duck.name %> </h4>
            <p class="card-pic-date"><i class="fa-solid fa-calendar-days"></i> <span><%= (1..15).to_a.sample %> sept</span> - <span><%= (15..30).to_a.sample %> sept</span> <span>2023</span></p>
            <p class="card-pic-loc"><i class="fa-solid fa-user"></i> Proprietaire : <span> <%= booking.user[:first_name] %> <%= booking.user[:last_name] %> </span> </p>
          </div>
          <h4 class="my-bookings-card-price"> <%= booking.duck.price %>€</h4>
        </div>
      <% end %>

    <% end %>
    <%# --- FIN CARD ---  %>


    <%# ---- FIN booking-dynamic-content-showbox ----  %>
    </div>

  <%# ---- FIN booking-dynamic-content-container ---- %>
  </div>

</main>
