<%# http://127.0.0.1:3000/users/1/bookings %>

<%# @ducks => tout les ducks du user car @ducks = Duck.where(user_id: 1) ds controler%>
<%# @bookings => tout les booking de user car @bookings = @user.bookings ds controler%>

<%# <% @bookings.each do |booking| %>
<%# <%= booking.user.email %>
<%# <%= @ducks.name %>
<%# <%= @ducks.price %>
<%# <% end %>


<main>

  <div class="bookings-profile-container">
    <%= image_tag 'macron.png' %>
    <h3>Emmanuel</h3>
    <p> 57 Réservations </p>
    <p> 3 canards </p>
  </div>

  <div class="booking-dynamic-content-container">


    <div class="booking-dynamic-content-nav-bar">
      <p class="booking-dynamic-content-button btn-on" > my bookings </p>
      <p class="booking-dynamic-content-button"> my ducks </p>
      <p class="booking-dynamic-content-button"> my whishlist </p>
    </div>


    <div class="booking-dynamic-content-showbox">

      <%# ---------------------- DEBUT CARD ---------------------- %>

      <%# <% @bookings.each do |booking| %>
      <%# <%= booking.user.email %>
      <%# <%= @ducks.name %>
      <%# <%= @ducks.price %>
      <%# <% end %>




    <% @bookings.each do |booking| %>

      <div class="my-bookings-card">

        <%= image_tag 'trump.png' %>

        <div class="card-pic-name-date">


          <h5 class="card-pic-name">  <%= booking.duck.name %> </h5>


          <p class="card-pic-date"> <span>8 sept</span> - <span>12 sept</span> <span>2023</span></p>
        </div>

        <h3 class="my-bookings-card-price"> <%= booking.duck.price %> </h3>

      </div>
    <% end %>
    <%# ---------------------- FIN CARD ----------------------  %>






    <%# ---------------------- FIN booking-dynamic-content-showbox ----------------------  %>
    </div>
  <%# ---------------------- FIN booking-dynamic-content-container ----------------------  %>
  </div>

</main>
