<%# http://127.0.0.1:3000/users/1/bookings %>

<%# @ducks => tout les ducks du user car @ducks = Duck.where(user_id: 1) ds controler%>
<%# @bookings => tout les booking de user car @bookings = @user.bookings ds controler%>

<%# <% @bookings.each do |booking| %>
<%# <%= booking.user.email %>
<%# <%= @ducks.name %>
<%# <%= @ducks.price %>
<%# <% end %>


<main>

  <div class="bookings-profile-container">
    <img src="<%= current_user.url %>" alt="user" class='img-profile-bookings'>
    <h3><%= current_user.last_name %> <%= current_user.first_name %></h3>
    <p>Email : <%= current_user.email %></p>
    <p>Localisation : <%= current_user.location %></p>
    <p> <%= Booking.all.where(user_id: current_user.id).count %> réservations </p>
    <p> <%= Duck.all.where(user_id: current_user.id).count %> canards </p>
    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'btn-logout'  %>
  </div>

  <div class="booking-dynamic-content-container">


    <div class="booking-dynamic-content-nav-bar">
      <div class="booking-dynamic-content-button btn-on"><p > my bookings </p></div>
      <div class="booking-dynamic-content-button"><p > my bookings </p></div>
      <div class="booking-dynamic-content-button"><p > my bookings </p></div>
    </div>


    <div class="booking-dynamic-content-showbox">

      <%# ---------------------- DEBUT CARD ---------------------- %>

      <%# <% @bookings.each do |booking| %>
      <%# <%= booking.user.email %>
      <%# <%= @ducks.name %>
      <%# <%= @ducks.price %>
      <%# <% end %>




    <% @bookings.each do |booking| %>

      <div class="my-bookings-card">
        <%= image_tag booking.duck.url %>
        <div class="card-pic-name-date">
          <h5 class="card-pic-name">  <%= booking.duck.name %> </h5>
          <p class="card-pic-date"> <span>8 sept</span> - <span>12 sept</span> <span>2023</span></p>
        </div>
        <h4 class="my-bookings-card-price"> <%= booking.duck.price %>€</h4>
      </div>
    <% end %>
    <%# ---------------------- FIN CARD ----------------------  %>






    <%# ---------------------- FIN booking-dynamic-content-showbox ----------------------  %>
    </div>
  <%# ---------------------- FIN booking-dynamic-content-container ----------------------  %>
  </div>

</main>
