<div class="index-container">

  <%= render 'components/filter' %>

  <%# <div class="card-pub">
    <h3>Everybody</h3>
    <p class="bold"> needs a duck</p>
    <p class="bold">get yours now</p>
  </div> %>

  <% @ducks.each do |duck| %>
    <div class="duck-cards">
      <%= link_to duck_path(duck), class: 'container-img-card' do %>
        <%= image_tag duck.url %>
      <% end %>
      <div class="container-info-card">
        <div class="container-desc-card">
          <%= link_to duck.name, duck_path(duck), :class => 'link-duckcard' %>
          <% if duck.available %>
            <p class="available">Disponible</p>
          <% else %>
            <p class="unavailable">Indisponible</p>
          <% end %>
          <p><%= duck.price %> € par nuit</p>
        </div>
        <p><i class="fa-solid fa-star"></i><%= duck.rating %></p>
      </div>
    </div>
  <% end %>
  <%= link_to 'Afficher la carte', map_ducks_path, :class => 'btn-map' %>
</div>
