<div class="index-container">

  <%= render 'components/filter' %>

  <%# <div class="card-pub">
    <h3>Everybody</h3>
    <p class="bold"> needs a duck</p>
    <p class="bold">get yours now</p>
  </div> %>

  <% @ducks.each do |duck| %>
    <div class="duck-cards">
      <%= link_to duck_path(duck), class: 'container-img-card' do %>
        <img src="https://images.unsplash.com/photo-1559715541-5daf8a0296d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1372&q=80" alt="" class="container-img-card">
      <% end %>
      <div class="container-info-card">
        <div class="container-desc-card">
          <%= link_to duck.name, duck_path(duck), :class => 'link-duckcard' %>
          <% if duck.available %>
            <p class="available">Disponible</p>
          <% else %>
            <p class="unavailable">Indisponible</p>
          <% end %>
          <p><%= duck.price %> € per night</p>
        </div>
        <p><i class="fa-solid fa-star"></i><%= duck.height %></p>
      </div>
    </div>
  <% end %>

</div>
