<div class="index-container">

  <%= render 'components/filter' %>

  <%# <div class="card-pub">
    <h3>Everybody</h3>
    <p class="bold"> needs a duck</p>
    <p class="bold">get yours now</p>
  </div> %>

  <% @ducks.each do |duck| %>

    <div class="duck-cards animate__animated">

      <%= link_to duck_path(duck), class: 'container-img-card' do %>
        <%= image_tag duck.url %>
      <% end %>
      <div class="container-info-card">
        <div class="container-desc-card">
          <%= link_to duck.name, duck_path(duck), :class => 'link-duckcard' %>
          <% if duck.available %>
            <p class="available">Disponible</p>
          <% else %>
            <p class="unavailable">Indisponible</p>
          <% end %>
          <p><%= duck.price %> € <span class="parnuit">par nuit</span></p>
        </div>
        <p><%= duck.rating %><i class="fa-solid fa-star rating"></i></p>
      </div>
    </div>
  <% end %>
  <%= link_to map_path do%>
    <p class="btn-map"><i class="fa-solid fa-location-dot"></i><span class="txt">Afficher la carte<span></p>
  <% end %>
</div>
