<div class="show-grid-container">

  <div class="show-duck-box">
    <h1><%= @duck.name %></h1>
    <p><%= @duck.description %></p>
    <div class="price-item"><%= @duck.price %>€ <span> par nuit </span></div>
    <div class="show-user-box">
      <img src="<%= @duck.user.url %>" alt="user" class='img-profile-show'>
      <div>
        <p>Ce canard appartient à :</p>
        <h4><%= @duck.user.first_name %></h4>
        <p><%= @duck.user.email %></p>
      </div>
    </div>
  </div>

  <div class="show-img-box">
    <%= image_tag @duck.url, class: "show-duck-picture" %>
    <i class="fa-solid fa-heart wishlist-icon animate__animated"></i>
  </div>

  <div class="show-box-order">
    <h2>Ma réservation</h2>
    <div class="show-my-order-grid">
      <div class="calendar">
        <%= image_tag "fake-calendar.png" %>
      </div>
      <div class="recap-order">
        <div>
          <p> 65€ x 7 nuit</p>
          <p> 433 €</p>
        </div>
        <div>
          <p> Taxes</p>
          <p> 24 €</p>
        </div>
        <div>
          <p class="total"> Total</p>
          <p class="total"> 567 €</p>
        </div>
      </div>
    </div>
    <div class="btn-order animate__animated"><span class="txt">Réserver mon canard </span></div>
  </div>

  <div class="show-box-review">
    <h2>Commentaires</h2>
  </div>


</div>
