<div class= "home-container">


  <%= image_tag "duckbnb-logo-duck-full-gradient.png", class: 'img-go' %>

  <%= link_to 'Commence ton aventure avec DuckBnB !', ducks_path, :class => 'btn-go' %>

  <%= audio_tag 'Duck_Quack.mp3', id:"sound", class: "audio-play", autoplay: true %>


  <div class="info-container">

    <div class= "cont-dev">

      <div class= "info-dev">
        <%= image_tag "img-lilia.png", class: 'img-developpeur' %>
        <p>Lilia</p>
      </div>

      <div class= "info-dev">
        <%= image_tag "img-armi.png", class: 'img-developpeur' %>
        <p>Armi</p>
      </div>

      <div class= "info-dev">
        <%= image_tag "img-natheo.png", class: 'img-developpeur' %>
        <p>Natheo</p>
      </div>

      <div class= "info-dev">
        <%= image_tag "img-gabriel.png", class: 'img-developpeur' %>
        <p>Gabriel</p>
      </div>
    </div>


  </div>

</div>
